/* 제휴 카테고리 상단 대분류 탭*/

.category__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__title {
  padding: 10px;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.26);
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.title_selected {
  color: inherit !important;
  padding-bottom: 7px;
  border-bottom: 3px solid #09c584;
}

.tabcontent {
  display: none;
}

.content_selected {
  display: block;
}

/* 중분류 탭*/
.cooperation__category-description {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: inherit;
  font-size: 18px;
  font-weight: bold;
}

.cooperation__category-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.cooperation__link {
  cursor: pointer;
}
.cooperation__category {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  width: 200px;
  height: 280px;
  padding: 10px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}

.cooperation__category:hover {
  transform: translateY(-5px);
}
.cooperation__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.cooperation__content {
  text-align: center;
}

.cooperation__submit {
  padding: 8px;
  border: 1px solid #888888;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #888888;
}

.cooperation__submit:hover {
  transition: all 0.3s ease-in-out;
  border: 1px solid #09c584;
  color: #09c584;
}
