.form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.form-box:last-child {
  margin-bottom: 0px;
}

.form-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.form-list:last-child {
  margin-bottom: 0px;
}

.text-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.file-title {
  font-weight: bold;
}

.form-textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  padding-top: 15px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

.form-text {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-file {
  text-align: right;
}

input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

input[type="file"] + label {
  background-color: #09c584;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

input[type="file"]:focus + label {
  outline: 1px dotted #000;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -2px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -2px;
  position: relative;
  background-color: #09c584;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

input[type="radio"]:last-child {
  margin-right: 0;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 3px;
  background-color: #09c584;
  color: white;
  font-weight: bold;
}

.submit__button {
  padding: 10px;
  border-radius: 3px;
  background-color: #09c584;
  color: white;
  font-weight: bold;
}
