header {
  z-index: 5;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

.header__column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo-icon {
  width: 158px;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__item {
  padding-top: 4px;
  margin: 0 5px;
}
