.upload__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin-top: 50px;
}

.upload__introduction {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.upload__box {
  width: 80%;
  margin-bottom: 60px;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.form-box:last-child {
  margin-bottom: 0px;
}

.form-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.form-list:last-child {
  margin-bottom: 0px;
}

.text-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.file-title {
  font-weight: bold;
}

.form-textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  padding-top: 15px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

.form-text {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-file {
  text-align: right;
}

input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

input[type="file"] + label {
  background-color: #09c584;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

input[type="file"]:focus + label {
  outline: 1px dotted #000;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -2px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -2px;
  position: relative;
  background-color: #09c584;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

input[type="radio"]:last-child {
  margin-right: 0;
}

.notification {
  margin-bottom: 15px;
}

.privacy-policy {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #efefef;
}

.agreement-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.agreement-box input[type="checkbox"] {
  display: none;
  margin-right: 100px;
}

.agreement-box label {
  position: relative;
  margin-right: 50px;
  font-weight: bold;
}

/* Base styles for spans */
.agreement-box span::before,
.agreement-box span::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

/* Check-boxes */
.agreement-box span.checkbox::before {
  width: 27px;
  height: 27px;
  border: 3px solid #09c584;
  right: -50px;
  box-sizing: border-box;
  transition: border-color 0.2s;
}
.agreement-box span.checkbox:hover::before {
  border: 3px solid #09c584;
}
.agreement-box span.checkbox::after {
  content: "\f00c";
  font-family: "FontAwesome";
  right: -45px;
  top: 2px;
  color: transparent;
  transition: color 0.2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #09c584;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 3px;
  background-color: #09c584;
  color: white;
  font-weight: bold;
}
