/* 제휴제안 상세페이지*/
.proposal__category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 15px;
  padding-bottom: 30x;
  border-bottom: 1px solid #888888;
  margin-top: 100px;
  margin-bottom: 50px;
}

.proposal__category-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.proposal__submit {
  background-color: #09c584;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
/* 제휴 제안 과정 */
.proposal__process-container {
  width: 70%;
  padding: 20px;
}

.proposal__process {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid #09c584;
  border-radius: 50%;
  margin: 15px;
  margin-bottom: 100px;
}

.proposal__process-title {
  width: 150px;
  border-right: 1px solid #888888;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
}

.proposal__process-content {
  width: 70%;
  padding: 0px 20px 20px 20px;
}

.text {
  line-height: 20px;
  margin-bottom: 10px;
}
